body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (min-width: 992px) {
    .layout {
        display: grid;
        grid:
        "header header header" auto
        "leftSide body rightSide" 1fr;
        gap: 8px;
        margin: 0 auto;
    }
}  

@media (min-width: 768px) and (max-width: 991px) {
    .layout {
        display: grid;
        grid:
        "header header" auto
        "leftSide body" 1fr
        "rightSide rightSide" auto;
        gap: 8px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .layout {
        display: grid;
        grid:
        "header" auto
        "leftSide" auto
        "body" auto
        "rightSide" auto;
        gap: 8px;
        margin: 0 auto;
    }
}  

.header { 
      grid-area: header;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.75em;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
}

.leftSide { 
    grid-area: leftSide; 
    background-color: gray;
    border:1px solid black;
}

.body { 
    grid-area: body; 
    background-color: gray;
    border:1px solid black;
}

.rightSide { 
    grid-area: rightSide;
    background-color: gray;
    border:1px solid black;
}

.section-head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    /* align-content: flex-end; */
}

.section-title {
    border:1px solid black;
    background-color: chocolate;
    float:right;
    padding:5px 10px;
}

.section-body {
    padding:40px 20px;
}